
#portafolio{
    background-color: #000000a1 ;
    display: flex;
    flex-direction: column;
    position: relative;
    font-size: .1rem;
    height: 100vh; 
    width: 100vw;
    margin: auto;
}   

#portafolio div, #portafolio div section{
    margin-top: 1rem;
}

#portafolio-sidebar{
    padding: .3rem;
    font-size: 1.3rem;
    /* background-color: aqua; */
    width: 100%;
}

#portafolio-contmain{
    padding: .4rem;
    font-size: 1rem;
    /* background-color: beige; */
}

#portafolio #portafolio-sidebar #image-perfil{
    display: flex;
    width: 100%;
    justify-content: center;
}
#portafolio #portafolio-sidebar #image-perfil img{
    width: 80%;
}

#portafolio .btn-close{
    font-size: 1.8rem;
    position: absolute;
    top: 0;
    right: 0;
}

#about-me{
    padding: .7rem;
    font-size: 1.3rem;
}

.profile-img{
    border-radius: 30px; 
    height: auto;
    width: 100%;
}

.icon-languages{
    font-size: 3rem;
}

.contain-dialog{
    width: 80%;
    background-color: #d5d5d5;
    margin: 0 auto;
    text-align: center;
}

@media screen and (min-width:826px) {
    .experence-cards{
        margin: 1rem auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row;
    }
    
    .lenguages{
        font-size: 3rem;
    }
}

@media screen and (min-width:1412px) {
    .contain-dialog{
        width: 70%;
        font-size: 17px;
        display:flex;
        flex-direction: row;
    }

    .lenguages ul li{
        font-size: 6rem;
    }
    
    #portafolio-sidebar{
        width: 20%;
    }

    #portafolio-contmain{
        width: 80%;
    }
}